:root{
    --bluesoft: #F9FBFC;
    --blue: #3A38FF;
    --purplesoft: #E5E4FF;
    --navy: #101041;
    --darkgrey1: #949494;
    --darkgrey2: #e7ebed;
    --grey: #DFE2E7;
    --purple: #6261D8;
    --white: #ffffff;
}
